$def with (input=None,player=None,winner=None)

<!DOCTYPE html>
<html>
<head>
<style>
table,td {
    border: 1px solid black;
}
</style>
</head>
<body onload="startGame()">


<center>
<p id="clickE"> </p>
<table id="myTable"> </table> <center>

<form action="/" method="post" id="point">
<p id="formelement">   </p>
<p id="player">   </p>
</form>

<script>
  var win=0;
</script>

$if winner!=0:
  <script>
    var win=$winner;
    window.alert("Player "+win+" WON!");
  </script>

$if input:
  <script>
    console.log($input);
    var input=$input;
    console.log(input);
  </script>

$if player:
  <script>
  var player=$player;
  var turn = document.getElementById("clickE");
  turn.innerHTML="Player's "+player+" turn";
  </script>



<script>

// function callAI() {
//   var formElementData = "<input type='hidden' name='AI' value='1'>";
//   var formElement = document.getElementById("formelement");
//   formElement.innerHTML=formElementData;
//   document.getElementById("point").submit();
// }

function startGame(){
  myGame.myFunction();
}

var myGame = {
      myFunction :function() {
      var row=[];;
      var cell=[];
      var table = document.getElementById("myTable");
      for (i=0;i<5;i++){
        row[i] = table.insertRow(i);
          for (j=0;j<5;j++) {
              cell[i]=[];
              cell[i][j]=row[i].insertCell(j);
              var content = "<p onclick='userMove("+i+","+j+")'>" + String(input[i][j]) + " </p>";
              cell[i][j].innerHTML=content;
          }
        }
  }
};

function userMove(x,y){
      console.log("hey "+typeof(player));
      console.log(parseInt(input[x][y]/10));
      if (win!=0){
          window.alert("Player "+win+" WON! Dude");
          return;
      }
      if (input[x][y]!=0) {
        if (parseInt(input[x][y]/10)!=player) {
          window.alert("Not Your Orb Dude! You are player "+player);
          return;
        }
      }
      var formElementData = "<input type='hidden' name='position' value='"+x+","+y+"''>";
      var formPlayerInfo = "<input type='hidden' name='playerid' value='"+player+"''>";
      var formElement = document.getElementById("formelement");
      var playerInfo = document.getElementById("player");
      formElement.innerHTML=formElementData;
      playerInfo.innerHTML=formPlayerInfo;
      document.getElementById("point").submit();
}

</script>


</body>
</html>
