$def with (clear=None)
<!DOCTYPE html>
<html>
<head>
</head>
<body>

$if clear:
  <script>
    var form = document.getElementById("clearForm");
    var content = "<input type='hidden' value='1' name='clear'>";
    form.innerHTML=content;
    document.getElementById("cc").submit();
  </script>

<style>
  p.main {
    margin: 50px 0 0 0;
}
  p.inner {
    margin: 30px 0 0 0;
  }
</style>
<form action="/menu" method="post" id="cc">
  <div id="clearForm"> </div>
</form>

  <center>
    <p class=main>
    <img style="-webkit-user-select: none" src="/static/images/gamemode.gif"> </img>
    <p class=inner>
    <a href = "/name?type=1"> <img style="-webkit-user-select: none" src="/static/images/hvh.gif"> </a>
    <br>
    <a href = "/name?type=2"><img style="-webkit-user-select: none" src="/static/images/hvc.gif"></a>
  </center>
</body>
</html>
